<div class="title">
    <h3>Listing All Students</h3>
    <!-- <p-button label="Go Back" styleClass="ui-button-secondary"></p-button> -->
</div>

<p-table id="students-table" [columns]="columns" [value]="listedStudents" [lazy]="true" (onLazyLoad)="lazyLoadStudents($event)" [paginator]="true" 
    [rows]="10" [totalRecords]="totalRecords" [loading]="loading">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student let-columns="columns">
        <tr (click)="onSelect(student)" [class.selected]="student === selectedStudent">
            <td *ngFor="let col of columns">
                {{student[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>