<div *ngIf="student">
    <div class="title">
        <h3>{{student.lastName | uppercase}}, {{student.firstName}}</h3>
        <p-button label="Go Back" (click)="goBack()" styleClass="ui-button-secondary"></p-button>
    </div>
    <div>
        <p>Student ID: {{student.studentNumber}}</p>
        <p>Date of Birth: {{student.dateOfBirth}}</p>
        <p>Enrolled in year: {{student.studyYear}}</p>
        <p>Enrolled in Courses:</p>
        <p-listbox 
            [options]="availableCourses" 
            [(ngModel)]="enrolledCourses" 
            [multiple]="true" 
            [checkbox]="true" 
            [filter]="true" 
            optionLabel="name"
            class="full-width form-group"
            (onChange)="onChange()">
        </p-listbox>
    </div>
    <p-button label="Delete Student" (click)="onDelete()" styleClass="ui-button-danger"></p-button>
    <p-button 
        label="Save Changes" 
        (click)="onSubmit()" 
        styleClass="ui-button-success" 
        [disabled]="!enrolledCoursesChanged">
    </p-button>
</div>