<div class="title">
    <h3>{{student.lastName | uppercase}}, {{student.firstName}}</h3>
    <!-- <button pButton (click)="goBack()" type="button" label="Go Back" class="ui-button-secondary"></button> -->
    <p-button label="Go Back" (click)="goBack()" styleClass="ui-button-secondary"></p-button>
</div>
<div>
    <p>Student ID: {{student.studentId}}</p>
    <p>Date of Birth: {{student.dateOfBirth}}</p>
    <p>Enrolled in year: {{student.studyYear}}</p>
    <p>Enrolled in Courses:</p>
    <ul>
        <li *ngFor="let course of enrolledCourses">{{course.name}}</li>
    </ul>
    <p-multiSelect [options]="courses" [(ngModel)]="enrolledCourses"></p-multiSelect>
</div>