<div class="title">
    <h3>Add new student</h3>
    <!-- <p-button label="Go Back" styleClass="ui-button-secondary"></p-button> -->
</div>
<div>
    <input type="text" pInputText [(ngModel)]="firstName" placeholder="First Name"/>
    <input type="text" pInputText [(ngModel)]="lastName" placeholder="Last Name"/>
    <p-inputNumber [(ngModel)]="studyYear" min="1" max="4" placeholder="Study Year"></p-inputNumber>
    <p-inputMask mask="99.99.9999" [(ngModel)]="dateOfBirth" placeholder="Date of Birth" slotChar="dd.mm.yyyy"></p-inputMask>
    <p-listbox 
        [options]="availableCourses" 
        [(ngModel)]="selectedCourses" 
        [multiple]="true" 
        [checkbox]="true" 
        [filter]="true" 
        optionLabel="name">
    </p-listbox>
    <p-button label="Save" styleClass="ui-button-success" (click)="onSubmit()"></p-button>
</div>